<h3>Product #000123</h3>
<form ng-controller="FormValidationController as form" name="form.formValidate" ng-submit="form.submitForm()" novalidate="" class="form-validate panel">
   <uib-tabset  justified="true">
      <uib-tab>
         <uib-tab-heading>
            Product Edit</uib-tab-heading>
         <div>
            <fieldset>
               <div class="form-group">
                  <label class="col-md-2 control-label">产品名称:</label>
                  <div class="col-md-10">
                  <input type="text" name="productName" required="" ng-model="productName" class="form-control" />
                     <span ng-show="form.validateInput('productName', 'required')" class="text-danger">请填写产品名称</span>
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-md-2 control-label">产品描述:</label>
                  <div class="col-md-10">
                     <textarea cols="5" name="description" placeholder="Short description.." class="form-control"></textarea>
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-md-2 control-label">原价:</label>
                  <div class="col-md-10">
                     <input type="number" name="oldPrice" placeholder="123.20" required="" ng-model="oldPrice" class="form-control" />
                      <span ng-show="form.validateInput('oldPrice', 'number')" class="text-danger">请输入一个数字</span>
                  </div>
                 
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-md-2 control-label">现价:</label>
                  <div class="col-md-10">
                     <input type="number" name="nowPrice" placeholder="123.20" required="" ng-model="nowPrice" class="form-control" />
                     <span ng-show="form.validateInput('nowPrice', 'number')" class="text-danger">请输入一个数字</span>
                  </div>
                  
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-md-2 control-label">库存:</label>
                  <div class="col-md-10">
                     <input type="text" name="stock" required="" ng-pattern="/^[0-9]+$/" ng-model="digits" class="form-control" />
                     <span ng-show="form.validateInput('stock', 'pattern')" class="text-danger">请输入一个整数</span>
                  </div>
                  
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">颜色:</label>
                  <div class="col-sm-10">
                     <label class="checkbox-inline c-checkbox">
                        <input id="inlineCheckbox10" type="checkbox" value="红" />
                        <span class="fa fa-check"></span>红</label>
                     <label class="checkbox-inline c-checkbox">
                        <input id="inlineCheckbox20" type="checkbox" value="黄" />
                        <span class="fa fa-check"></span>黄</label>
                     <label class="checkbox-inline c-checkbox">
                        <input id="inlineCheckbox30" type="checkbox" value="蓝" />
                        <span class="fa fa-check"></span>蓝</label>
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-md-2 control-label">状态:</label>
                  <div class="col-md-10">
                     <select class="form-control">
                        <option value="0">上架</option>
                        <option value="1">下架</option>
                     </select>
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div ng-controller="DatepickerCtrl" class="form-group">
                  <label class="col-sm-2 control-label">Datepicker</label>
                  <div class="col-sm-6">
                     <p class="input-group">
                     <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="startOpen()"><em class="fa fa-calendar"></em></button>
                      </span>
                      <input type="text" name="date" readonly class="form-control" " uib-datepicker-popup ng-model="startDate" is-open="startPopup.opened" datepicker-options="startOptions" required=""close-text="Close" ng-change="startChange()"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default">至</button>
                      </span>
                      <input type="text" name="date" readonly class="form-control" " uib-datepicker-popup ng-model="endDate" is-open="endPopup.opened" datepicker-options="endOptions" required=""close-text="Close" ng-change="endChange()"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="endOpen()"><em class="fa fa-calendar"></em></button>
                      </span>
                    </p>
                     <span ng-show="form.validateInput('date', 'required')" class="text-danger">This field is required</span>
                  </div>
               </div>
            </fieldset>
         </div>
      </uib-tab>
      <uib-tab>
         <uib-tab-heading>Meta Data</uib-tab-heading>
         <div>
            <fieldset>
            <div class="form-group">
               <label class="col-sm-2 control-label">产品详情</label>
               <div class="col-sm-10">
                  <!-- Wysiswyg editor-->
                  <div text-angular="" ng-model="form.htmlContent" name="wysiswyg-editor" class="btn-group-small"></div>
               </div>
            </div>
         </fieldset>
         </div>
      </uib-tab>
      <uib-tab>
         <uib-tab-heading>Pictures</uib-tab-heading>
         <div ng-controller="FileUploadController as flc" nv-file-drop="" uploader="flc.uploader" filters="queueLimit, customFilter">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-3">
            <div class="panel">
               <div class="panel-body">
                  <h4 class="page-header mt0">Select files</h4>
                  <div ng-show="flc.uploader.isHTML5">
                     <!-- 3. nv-file-over uploader="link" over-class="className"-->
                     <div nv-file-over="" uploader="flc.uploader" over-class="bg-info" class="box-placeholder my-drop-zone">Base drop zone</div>
                     <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}"-->
                     <div nv-file-drop="" uploader="flc.uploader" options="{ url: '/foo' }">
                        <div nv-file-over="" uploader="flc.uploader" over-class="bg-purple" class="box-placeholder my-drop-zone">Another drop zone with its own settings</div>
                     </div>
                  </div>
                  <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}"-->
                  <hr/>
                  <input filestyle="" type="file" data-button-text="Multiple" data-class-button="btn btn-default" data-class-input="form-control inline" nv-file-select="" uploader="flc.uploader" multiple="" class="form-control" />
                  <br/>
                  <input filestyle="" type="file" data-button-text="Single" data-class-button="btn btn-default" data-classinput="form-control inline" nv-file-select="" uploader="flc.uploader" class="form-control" />
               </div>
            </div>
         </div>
         <div style="margin-bottom: 40px" class="col-md-9">
            <div class="panel">
               <div class="panel-body">
                  <p ng-if="flc.uploader.queue.length" class="pull-right label label-info">Queue length: {{ flc.uploader.queue.length }}</p>
                  <h4 class="page-header mt0">Upload queue</h4>
                  <p ng-if="!flc.uploader.queue.length" class="lead text-center">No files in queue. Start adding some..</p>
                  <div ng-if="flc.uploader.queue.length">
                     <table ng-if="flc.uploader.queue.length" class="table">
                        <thead>
                           <tr>
                              <th width="50%">Name</th>
                              <th ng-show="flc.uploader.isHTML5">Size</th>
                              <th ng-show="flc.uploader.isHTML5">Progress</th>
                              <th>Status</th>
                              <th>Actions</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="item in flc.uploader.queue">
                              <td>
                                 <strong>{{ item.file.name }}</strong>
                              </td>
                              <td ng-show="flc.uploader.isHTML5" nowrap="">{{ item.file.size/1024/1024|number:2 }} MB</td>
                              <td ng-show="flc.uploader.isHTML5">
                                 <div style="margin-bottom: 0;" class="progress progress-xs">
                                    <div role="progressbar" ng-style="{ 'width': item.progress + '%' }" class="progress-bar"></div>
                                 </div>
                              </td>
                              <td class="text-center">
                                 <span ng-show="item.isSuccess">
                                    <em class="fa fa-check fa-fw"></em>
                                 </span>
                                 <span ng-show="item.isCancel">
                                    <em class="fa fa-ban-circle fa-fw"></em>
                                 </span>
                                 <span ng-show="item.isError">
                                    <em class="fa fa-times fa-fw"></em>
                                 </span>
                              </td>
                              <td nowrap="">
                                 <button type="button" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" class="btn btn-info btn-xs">
                                    <span class="icon-cloud-upload mr"></span>Upload</button>
                                 <button type="button" ng-click="item.cancel()" ng-disabled="!item.isUploading" class="btn btn-warning btn-xs">
                                    <span class="icon-close mr"></span>Cancel</button>
                                 <button type="button" ng-click="item.remove()" class="btn btn-danger btn-xs">
                                    <span class="icon-trash mr"></span>Remove</button>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div class="panel">
               <div class="panel-body">
                  <div>
                     <p>Queue progress:</p>
                     <div style="" class="progress progress-xs">
                        <div role="progressbar" ng-style="{ 'width': form.uploader.progress + '%' }" class="progress-bar"></div>
                     </div>
                  </div>
                  <button type="button" ng-click="form.uploader.uploadAll()" ng-disabled="!form.uploader.getNotUploadedItems().length" class="btn btn-info btn-s">
                     <span class="icon-cloud-upload mr"></span>Upload all</button>
                  <button type="button" ng-click="form.uploader.cancelAll()" ng-disabled="!form.uploader.isUploading" class="btn btn-warning btn-s">
                     <span class="icon-close mr"></span>Cancel all</button>
                  <button type="button" ng-click="form.uploader.clearQueue()" ng-disabled="!form.uploader.queue.length" class="btn btn-danger btn-s">
                     <span class="icon-trash mr"></span>Remove all</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
      </uib-tab>
   </uib-tabset>
</form>
<div class="text-right mt-lg">
   <button type="button" class="btn btn-warning">Discard</button>
   <button type="button" class="btn btn-success">Save</button>
</div>